.message-other
{
	background-color: #dbdbdb;
	text-align: left;
}

.message-yours
{
	text-align: right;
	background-color: gray;
}

.panel-heading{
	text-align: right;
}

.container{
	
	display:block;
    bottom: 0;
	
}

.panel-body{
	border-style: solid;
	border-width: 2px;
	height: 450px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-y: scroll;
}


.panel-footer{
	padding-top: 10px;
	border-style: solid;
	border-width: 2px;	
	padding-bottom: 10px;
}

.sendButton{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: darkblue;
	font-family: fantasy;
	font-size: 20px;
	width: 15%;
	height: 30px;

}
.exitButton{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: darkblue;
	font-family: fantasy;
	font-size: 20px;
	width: 30%;
	height: 30px;
	margin-left: 50px
}
.textfield{
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	width: 80%;
	height: 30px;
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	padding: 10px;
	height: 90%;
	width: 100%;
	position: absolute;
}

.grid-item {
	padding: 20px;
}

.item1 {
	grid-column: 1 / span 1;
	grid-row: 1 / span 2;
}

.item2 {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}

.item3 {
	grid-column: 2 / span 1;
	grid-row: 2 span 1;
	text-align: bottom;
	bottom: 0;
	background-color: rgba(0,0,204, 0.2);
	
}
