#login {
	width: 100%;
	margin: 0 auto;
}
#logo {
	width: 250px;
	height: 90px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: url('logo.png');
}

.login_button {
	margin: 15px;
	padding: 10px;
}